<div class="userInfo">Hello, {{ user?.login }}!</div>

<!-- <button (click)="openBookForm()">Add new book</button> -->

<button>Up next</button>
<button>Current</button>
<button>Read</button>
@if (formIsOpen) {
<app-book-form (newItemEvent)="addBook($event)"></app-book-form>
} @else {
<button (click)="openBookForm()">Add a book</button>
}

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (book of user?.books ?? [] ; track $index) {

    <tr>
      <td>{{ $index + 1 }}</td>

      <td class="book-row" [routerLink]="['/book-card', $index]">
        {{ book.title }}
      </td>

      <td>{{ book.author }}</td>
      @if (book.read == 0) {
      <td>New</td>
      } @else if (book.read == 1) {
      <td>In progress</td>
      } @else {
      <td>Read</td>
      }

      <td>{{ book.score }}</td>
      <td>
        <button class="deleteButton" (click)="deleteBook($index)">
          delete
        </button>
        <button class="editButton" (click)="editBook($index)">edit</button>
      </td>
    </tr>

    }
  </tbody>
</table>
